.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url("../img/menuAz.png");
}

.opcoes__menu:checked~.lista-perfil {
    display: block;	}

.opcoes__menu{
    display: none;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.6em; }


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}


.lista-perfil {	
    display: none;
    position: absolute;
    right: 0%;
    top: 100%;
    width: 40vw;}



.lista-perfil__titulo,
.lista-perfil__item {
        padding: 1em;
        background-color: var(--branco);}
    
    
.lista-perfil__titulo {
        color: var(--laranja);
        font-weight: 700; }


.lista-perfil__titulo {
    display: none;
}
    
    
.lista-perfil__link {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        background-clip: text;
        text-transform: uppercase; }



.container__botao:checked~.lista-menu {
    display: block;
}


.lista-perfil {
    display: none; 	}


 .opcoes__rotulo:checked~.lista-perfil {
    display: block;	} 




.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__botao {
    display: none;
}


.container__texto {
    display: none;
}

.opcoes__botao{
    display: none;
}


@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        margin-right: 1em;
    }

    .opcoes__link {
        text-decoration: none;
        color: #000000;
    }

    .opcoes__rotulo{
        display: flex;
        align-items: center;
    }
    
    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 1.5em 0.5em;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .lista-perfil__item:hover {
        background: var(--azul-degrade);
    }

    .lista-perfil__item:hover>.lista-perfil__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .lista-perfil {	
        display: none;
        position: absolute;
        right: 0%;
        top: 100%;
        width: 9vw;}


    

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 0%;
    }
    
}




@media screen and (min-width: 1728px) {

    .cabeçalho {
        padding: 0 2em;
    }

    .opcoes {
        padding-left: 2%;
        margin-right: auto; 
    }

    .container__texto {
        display: block;
        color: var(--azul);  
        font-weight: 700;
    }

    .lista-perfil__titulo {
        margin-left: -10%;
        color: var(--azul);
        display: block;
    }

    
}